@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
}

nav{
    background-color: rgb(255, 54, 18);
    color: rgb(153, 228, 249);
    height: 55px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding:0 12px;
    roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    }
      nav ul{
        list-style-type: none;
    } 
    
     .gameContainer{
       display: flex;
       justify-content: center;
        margin-top: 60px;
    }

    .container{
display: grid;
grid-template-rows:repeat(3, 10vw);
grid-template-columns: repeat(3,10vw) ;
font-family: "Roboto", sans-serif;
position: relative;
    }

    .box{
        border: 2px solid black;
        font-size: 8vw;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .box:hover{
        background-color: rgb(56, 85, 149);
    }

    .gameInfo{
        padding:0 34px;
        font-family: "Baloo Bhaina 2", sans-serif;
    }

    .imgbox img{
        width: 0;
        transition: width 1s ease-in-out;
    }

    .br-0{
        border-right: 0;
    }

    .bl-0{
        border-left: 0;
    }

    .bt-0{
        border-top: 0;
    }

    .bb-0{
        border-bottom: 0;
    }

    #reset {
        margin: 0 23px;
        padding: 1px 18px;
        background: #c8c8eb;
        border-radius: 6px;
        cursor: pointer;
        font-family:'Baloo Bhaina 2' ;
        font-size: 15px;
        font-weight: bolder;
     }

     .line{
         height: 3px;
        width: 0vw;
        position:absolute;
        background-color: rgb(72, 5, 17);
        transition: width 1s ease-in-out;
     }

     @media screen and (max-width: 950px)
     {
        .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 34px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container{
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
} 
     